

@media (max-width: 1400px) { 


    .content{

        width:100%!important;
    }

    #prestas {
        width: 100%!important;
      
    }







}


@media (max-width: 1100px) { 


    #burger-menu{

        display:block;
        
    }


    .glitch::before, .glow::before {
    transform: translateY(198px);
    }

    .glitch::after, .glow::after {
        transform: translateY(-180px);
    }

    .inprogress {
        text-align: center;
        width: 100%!important;
    }

    .customer {
        width: 100px!important;
        height: 100px!important;
        margin: auto!important;
        /* display: flex; */
    }

    .customers {
        overflow-y: hidden!important;
        overflow-x: scroll!important;
        margin-bottom: 15px!important;
        width: 100%!important;
    }

    div#customer-info {
        margin-top: 55px;
    }


    #blackout {

        z-index: 111111!important;
    
    }

    .sub-menu {
        width: 50%!important;
        height: 100%!important;
        padding: 20px!important;
        background-color: #5c61bb!important;
        left: 248px!important;
        top: 0px!important;
        z-index: 11111111!important;
    }

    .block{

        margin: 0px;
    }
   

    #naviguation{

        display:none;
    }

    .mobile-menu {
        left: -265px;
        background-color: #4c62b7;
        width: 250px;
        transition-duration: 1s;
        z-index: 1;
    }

    .mobile-menu-open{

        left:0px!important;
        transition-duration: 1s;



    }

    .flexible{

        display: block!important;
    }

 

    .flexmobile{

        display: flex!important;
    }

    .skills li {
       
        width: 50%!important;
        margin: auto;
    }

    
    @media (max-width: 800px) { 


    .bigtitle h1 {
        font-size: 50px!important;
        /* line-height: 90px; */
    }

    .bigtitle {
  
        font-size: 15px!important;
    
    }

    .skill{

        display:none!important;
    }

    .skills-icons {
        height: 50px!important;
    }


   

    .skills li {
        list-style: none!important;
        text-align: center!important;
    }

    p {
        font-size: 13px;
    }

    .block {
        margin:0px!important;
        margin-top: 15px!important;
    }

    .sub-menu .skills-icons {
        height: 25px!important;
    }

    .sub-menu .skill {
        display: block!important;
        padding-top: 8px!important;
    }

    .sub-menu li {
   
        margin: 0px!important;
        margin-top: 10px!important;
    }

    .customer {
        margin-right: 20px!important;
    }


}



}


    
@media (max-width: 500px) { 

.glitch::before, .glow::before {

    transform: translateY(209px);
}

}