

table {
    width: 96%;
    margin: auto;
}

th {
    font-size: 25px;
    padding: 10px;
}

td {
    width: 0%;
    padding-top: 25px;
    /* text-align: center; */
}



#columns{

    background-color: #ff5959;
}